:root, * {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  color: white;
  overflow-x: hidden;
}

body {
  font-size: 14pt;
  background-color: rgb(33, 33, 33);
  height: 100vh;
}
body hr {
  margin: 0 auto;
  width: 80%;
}
@media screen and (max-width: 767px) {
  body hr {
    opacity: 0;
  }
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (min-width: 1324px) {
  nav {
    margin-left: 5em;
  }
}
nav .logo {
  flex: 50%;
}
@media screen and (min-width: 768px) {
  nav .logo {
    flex: none;
    margin: 0 0 0 2em;
  }
}
nav .logo img {
  height: auto;
  max-width: 15%;
  margin: 0.5em 0.2em;
}
@media screen and (min-width: 768px) {
  nav .logo img {
    max-width: 60%;
  }
}
nav .nav-items {
  overflow: hidden;
}
nav .nav-items a {
  text-decoration: none;
  padding: 0 10pt;
}
nav .nav-items a:hover {
  color: rgb(161, 39, 39);
}
@media screen and (max-width: 767px) {
  nav .nav-items {
    display: none;
    opacity: 0;
  }
}
nav .burger {
  margin-right: 1em;
  position: relative;
  display: block;
  width: 23pt;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}
nav .burger .bar, nav .burger::after, nav .burger::before {
  content: "";
  display: block;
  width: 100%;
  height: 3pt;
  background-color: #FFF;
  margin: 4.5pt 0pt;
  transition: 0.4s;
}
nav .burger.is-active::before {
  transform: rotate(-45deg) translate(-5pt, 6pt);
}
nav .burger.is-active::after {
  transform: rotate(45deg) translate(-4pt, -6pt);
}
nav .burger.is-active .bar {
  opacity: 0;
}
@media only screen and (min-width: 768px) {
  nav .burger {
    display: none;
    opacity: 0;
  }
}

.mobile-nav {
  position: fixed;
  top: 1;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: rgb(33, 33, 33);
  padding-top: 4.5em;
  transition: 0.4s;
}
.mobile-nav a {
  display: block;
  width: 65%;
  margin: 0 auto 1em;
  text-align: center;
  padding: 10pt 0pt;
  background-color: rgb(141, 39, 39);
  text-decoration: none;
}
.mobile-nav a:hover {
  background-color: rgb(148, 24, 24);
}
.mobile-nav.is-active {
  left: 0;
}
@media only screen and (min-width: 768px) {
  .mobile-nav {
    display: none;
    opacity: 0;
  }
}

section {
  margin-top: 2em;
}
@media screen and (min-width: 768px) {
  section {
    margin-top: 5em;
  }
}
section div {
  display: flex;
  justify-content: center;
  padding: 0.5em;
}
section .title {
  font-size: 15pt;
}
@media screen and (min-width: 768px) {
  section .title {
    font-size: 28pt;
  }
}
section .subtitle {
  font-size: 12.5pt;
}
@media screen and (min-width: 768px) {
  section .subtitle {
    font-size: 18pt;
  }
}
section .register {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11pt;
}
@media screen and (min-width: 768px) {
  section .register {
    font-size: 14pt;
  }
}
section .register span {
  padding: 0.5em;
  color: rgb(121, 121, 121);
}
section .register a {
  color: rgb(180, 23, 23);
}
section .register a:hover {
  color: rgb(251, 251, 251);
}
section .ticket-btn {
  display: flex;
  justify-content: center;
  margin-top: 4em;
  padding: 10pt;
  font-size: 11pt;
}
@media screen and (min-width: 768px) {
  section .ticket-btn {
    font-size: 18pt;
  }
}/*# sourceMappingURL=index.css.map */